<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/app.css">
    <title>Boggle</title>
</head>
<body>
    <section id="game_container">

        <table class="board">
            <tbody>
                {% for row in board %}
                <tr>
                    {% for cell in row %}
                    <td>{{ cell }}</td>
                    {% endfor%}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form method="POST">
            <input type="text" name="word">
            <button>BOGGLE!</button>
        </form>
        
    </section>
    
    
</body>
</html>